<% provide(:title, 'Welcome') %>

<div class="row">
  <div class="col-md-1" style="padding-top:20px;">
     <%= image_tag "collegelogo.png", :size => "60x60" %>
  </div>
  <div class="col-md-1" style="padding-top:20px;">
    <p><br><a class="btn btn-default btn-sm" href="pages#index">Browse by Subject (A-Z) &raquo;</a></p>
  </div>
</div>

<div class="page-header">
  <h1>Note Academy is a learning reference for all the world's knowledge</h1>
</div>

<div class="row" style="padding-bottom:60px;">
  <div class="col-lg-6" style="padding-top:15px;">
          <h3>Are you a Teacher or a Tutor?</h3>
          <h4><br>New! Take any 1-on-1 teaching experience online with Note Academy's personal teaching platform.</h4>

            <p>When you are teaching in Note Academy, you're in control of everything: subjects, time, location, pricing - everything is 100% flexible. You even get to choose the students you want to teach.</p>

            <p>We, on the other hand, handle all the boring and tedious stuff: bookings, payment transactions and video streaming. We want everything to be as smooth as possible so you get to focus on creating those great, unique learning experiences.</p>

           <p>Did we already mention it's free?*<br><br></p>
          <%= link_to "Get Started", new_user_path, class: "btn btn-large btn-primary" %>
           <p style="font-size:9px" ><br>*We charge 10% commission from the students for bookings</p>


  </div>
  <div class="col-lg-6">
          <%= image_tag "imac_teacher.png" %>
  </div>
</div>