<div class="row">
<div class="span12">

<% if @notetype == "introduction" %>  
  <h3>Introduction Note (<%= @page.name %>)</h3>

<div class="alert alert-info">
    <h6><span class="glyphicon icon-info-sign"></span> Introduction Note explains a subject to someone who is new to learning it. Little or no background information is assumed.</h6>
</div>

<% end %>
<% if @notetype == "study" %>  
  <h3>Study Note (<%= @page.name %>)</h3>

<div class="alert alert-info">
  <h6><span class="glyphicon icon-info-sign"></span> Study Note is a brief guide on how to study a subject. It may include references and links to useful learning resources, such as books, online lectures or articles.
  </h6>
</div>

 <% end %>

<% if current_user.present? %>
  <%= render 'form' %>
<% else %>
  <p>You have to be signed in to write notes.</p><br><br>  
  <%= link_to "Sign in", signin_path %>
<% end %>

 </div>
</div>
