<div class="row">
  <div class="span12">

  <h3>New Note - <%= @page.name %></h3>

  <div class="alert alert-info">
    <h6><span class="glyphicon icon-info-sign"></span> A Note is a brief guide on how to learn this topic.</h6>
  </div>

  <% if current_user.present? %>
    <%= render 'form' %>
  <% else %>
    <p>You have to be signed in to write notes.</p><br><br>  
    <%= link_to "Sign in", signin_path %>
  <% end %>

  </div>
</div>
